<% if current_user %>
  <%= form_for @comment, url: '#' do |f| %>
      <div class="mb-1">
        <%= f.label :content, 'Comments' %>
        <%= f.text_area :content, class: "block w-full form-text-field" %>
      </div>

      <%= f.submit 'post', class:"btn-primary w-1/2 mt-2" %>
  <% end %>
<% end %>