<%= provide(:title, "edit profile") %>
<h2 class="flex justify-center font-custom text-3xl text-coffee-default">edit profile</h2>
<div class="flex justify-center w-full">
  <% provide(:button_text, 'save changes') %>
  <%= render 'form' %>
</div>