<%= provide(:title, "join the club") %>
<h2 class="flex justify-center font-custom text-3xl text-coffee-default">join the club</h2>
<div class="flex justify-center w-full">
  <%= render 'form' %>
</div>