<% if object.errors.any? %>
  <div class="bg-red-50 border border-red-200 text-red-800 rounded w-1/3 px-4 py-3 ml-4 mb-2"> 
    <p>alriiight! i see <%= pluralize(object.errors.count, "error") %>:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>