<%= provide(:title, "about the club") %>
<div class="text-coffee-default">
  <section>
    <div class="max-w-3xl mx-auto px-5 ">
      <div class="text-center mb-7">
        <h1 class="font-custom mb-4 text-3xl leading-10 tracking-tight sm:text-4xl sm:leading-none md:text-4xl">
        Afraid of Virginia Book Club </h1>
      </div>
      <div class="flex justify-center">
        <div class="w-16 h-1 rounded-full bg-cyan inline-flex"></div>
      </div>
      <div class="flex justify-center mt-7 font-roboto">
        <p>The idea of starting an online book club began to seem exciting when the two of us moved overseas.
      It all started in Russia. Two of my friends and I used to meet in a bar every week to catch up and hang out, and books were always a big part of our conversation. One day, after the second glass of white russian, my friend suggested that the three of us should start a book club to systematize our thoughts and knowledge from books. We found the idea interesting and decided to give it a try. Since then we continued to meet at the bar on a weekly basis, but now the conversations took a whole new direction. We discussed the books we read, analyzed the characters, and shared our thoughts on the main concepts and philosophy. After a while, two of us were already living abroad, and it became difficult to maintain the club as there was no proper place for it, and all the online tools seemed unfit for our needs. We wanted to have our own minimalist book corner on the Internet just for the three of us. And that is how we all ended up here, on this site that I built from scratch :)</p>
      </div>
    </div>
  </section>
</div>