<%= provide(:title, "edit book") %>
<h1 class="flex justify-center font-custom text-3xl text-coffee-default">Edit Book</h1>
<div class="grid md:grid-cols-12 mx-auto">
  <div class="grid col-span-4 md:justify-items-end justify-items-center mt-12 md:mr-12">
    <%= image_tag book_img(@book.image, 'book_cover'), size: 260 %>
  </div>

  <div class="md:col-start-5 md:col-end-12 w-3/4  mx-auto mt-12">
    <div class="text-coffee-default font-roboto-300">
      <%= render 'form', book: @book %>
      <div class="float-right">
        <%= link_to '(delete book)', book_path(@book), method: :delete, class: "button",
                                                      data: { confirm: 'are you sure?'} %>
      </div>
    </div>             
  </div>
</div>