<%= provide(:title, "add new book") %>
<h1 class="flex justify-center font-custom text-3xl text-coffee-default">Add New Book</h1>
<div class="grid grid-cols-4">
  <div class="grid col-start-2 col-end-4 place-content-center">
    <%= render 'form', book: @book %>
  </div>
</div>