<%= provide(:title, "books read") %>
<h2 class="text-2xl font-custom text-coffee-default flex justify-center">read so far:</h2>

<div class="grid justify-center">
  <div class="grid max-w-5xl md:grid-cols-5 gap-3 justify-items-center">
    <!-- cards --->
    <% @books_read.each do |book| %>
      <div class="max-w-xs shadow-lg rounded mt-3 px-1">
        <%= link_to image_tag(book.image_url, size: "180"), book_path(book) %>
      </div>
    <% end %>
  </div>
</div>